.table {
  border: 1px solid lightgray;
  padding: 8px 0 0 8px;
}

.tbody {
  border-bottom: 1px solid lightgray;
}

.th {
  border: 1px solid lightgray;
  padding: 2px 4px;
}

.td {
  border: 1px solid lightgray;
  padding: 2px 4px;
}

.container {
  padding: 2px;
}

.divider {
  height: 2px;
}

.mainHeader {
  height: 20px;
}

.header2 {
  display: flex;
  align-content: space-between;
  padding: 4px;
  align-items: center;
  gap: 0.1%;
}

.button {
  border: 1px solid black;
  border-style: round($number: 2);
  padding: 1px;
}

.span {
  display: flex;
  align-items: center;
  gap: 1px;
}

.input {
  border-style: round($number: 2);
  padding: 1px;
  width: 16px;
  border: 1px solid black;
}
